.landing_bg {
  min-width: 100vw;
  min-height: 100vh;
}

.top_flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100vw - 6rem);
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
}

.logo img {
  cursor: pointer;
  width: 160px;
}

.btn_wrapper {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  position: relative;
  padding: 0;
}

.btn_box1,
.btn_box2 {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(86.63deg, #bf0aff, #940bff 52.43%, #1d26ff);
  width: 100%;
  height: 100%;
}

.btn_box1 {
  top: 5px;
  left: 5px;
  opacity: 0.4;
}

.btn_wrapper:hover .btn_box1,
.btn_wrapper:hover .btn_box2,
.btn_wrapper:hover .text {
  top: 2px;
  left: 2px;
  transition: all 0.3s;
}

.text {
  z-index: 2;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-white);
  width: max-content;
}

@media screen and (min-width: 1500px) {
  .top_flex {
    padding: 3rem;
    width: calc(100vw - 8rem);
  }

  .logo,
  .btn_wrapper {
    scale: 1.1;
  }
}

@media screen and (min-width: 1900px) {
  .top_flex {
    padding: 4rem;
    width: calc(100vw - 10rem);
  }

  .logo,
  .btn_wrapper {
    scale: 1.3;
  }
}

@media screen and (max-width: 1200px), (min-height: 1000px) {
  .landing_bg {
    width: 100vw;
    min-height: 0;
  }
}

@media screen and (max-width: 900px) {
  .top_flex {
    padding: 1rem;
    width: calc(100vw - 2rem);
  }

  .logo,
  .btn_wrapper {
    scale: 0.8;
  }
}

@media screen and (max-width: 500px) {
  .top_flex {
    padding: 0.4rem;
    width: calc(100vw - 1rem);
  }

  .logo,
  .btn_wrapper {
    scale: 0.6;
  }
}

@media screen and (max-width: 380px) {
  .top_flex {
    padding: 0.4rem 0;
    width: calc(100vw);
  }

  .logo,
  .btn_wrapper {
    scale: 0.5;
  }
}
