.faq_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 8rem 5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../public/FAQs/back.svg);
}

.blue {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.faqs {
  position: relative;
  width: calc(100vw - 10rem);
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.title {
  position: relative;
  font-weight: 500;
  font-size: 2rem;
}

.faq {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-bottom: 1px solid white;
}

.faq_head {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: -1rem;
}

.faq_body {
  padding: 1rem;
  background-color: rgba(256, 256, 256, 0.2);
}

.open {
  background-color: var(--colour-black);
  color: var(--colour-white);
  line-height: 80px;
  cursor: pointer;
  font-size: 100px;
  border: none;
}

.question {
  margin-top: 5px;
  font-size: 1.2rem;
}
