.arrow_wrapper {
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 3rem;
}

.arrows {
  background-image: url(../public/intro/arrows.png);
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  background-size: cover;
  margin: -4rem;
  height: 24rem;
}

.arrows_text {
  font-weight: 700;
  font-size: 2.2rem;
  display: flex;
  flex-direction: column;
  transform: translateY(-0.5rem);
}

.arrows_text span {
  color: var(--color-black);
}

.gradient {
  background: linear-gradient(86.63deg, #bf0aff, #940bff 92.43%, #1d26ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text {
  width: max-content;
  align-items: center;
  display: flex;
  gap: 10px;
}

@media screen and (min-width: 1700px) {
  .arrows_text {
    margin-left: 2rem;
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 1200px) {
  .arrow_wrapper {
    grid-template-columns: 4fr 1fr;
    padding: 2rem 3rem;
  }

  .arrows_text {
    font-size: 1.6rem;
    transform: translateY(1rem);
  }
}

@media screen and (max-width: 900px) {
  .arrow_wrapper {
    grid-template-columns: 1fr;
    width: auto;
    transform: none;
    padding: 1rem 2rem;
    padding-bottom: 3rem;
  }

  .arrows_text {
    font-size: 1.8rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .gradient {
    max-width: 84vw;
  }

  .arrows {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .hide {
    display: none;
  }

  .text {
    gap: 0;
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .arrow_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem 2rem 2rem;
    margin: -1rem 0;
  }

  .gradient {
    max-width: 110vw;
  }

  .arrows_text {
    scale: 0.8;
  }
}

@media screen and (max-width: 380px) {
  .arrows_text {
    scale: 0.7;
  }

  .gradient {
    max-width: 120vw;
  }
}
