.soln_wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 3rem;
  padding: 10rem 5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../public/FAQs/back.svg);
}

.purple {
  position: absolute;
  top: -10%;
  right: 0;
  height: 100%;
}

.title {
  position: relative;
  font-weight: 600;
  font-size: 2rem;
}

.soln_form {
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
  width: max-content;
  min-height: 500px;
}

.text_wrapper {
  border: 0;
  background-color: transparent;
  position: relative;
  padding: 0;
  width: max-content;
  height: 2.5rem;
}

.text_input,
.text_shadow {
  position: absolute;
  border: none;
  top: 0;
  left: 0;
  background: var(--color-white);
  width: 40vw;
  height: 2.5rem;
}

.text_shadow {
  top: 5px;
  left: 5px;
  opacity: 0.3;
}

.text_input:focus,
.text_input:focus + .text_shadow {
  top: 2px;
  left: 2px;
  transition: all 0.3s;
}

.text_input,
.text_shadow {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  color: var(--color-black);
  font-weight: 600;
  outline: none;
  appearance: none;
  resize: none;
}

.soln_form button {
  margin-top: 1rem;
  width: max-content;
  transform: translateY(8rem);
}

@media screen and (min-width: 1500px) {
  .soln_wrapper {
    padding: 15rem 5rem;
  }

  .soln_form {
    gap: 3rem;
  }

  .title {
    font-size: 2.4rem;
  }

  .text_input,
  .text_shadow {
    width: 50vw;
  }
}

@media screen and (min-width: 1900px) {
  .soln_wrapper {
    padding: 18rem 5rem;
  }

  .soln_form {
    min-height: 700px;
  }

  .title {
    font-size: 3rem;
  }

  .soln_form button {
    margin: 4rem 1rem;
  }
}

@media screen and (max-width: 1200px) {
  .text_input,
  .text_shadow {
    width: 60vw;
  }
}

@media screen and (max-width: 900px) {
  .title {
    font-size: 2.2rem;
  }

  .soln_form {
    min-height: 0;
  }

  .text_input,
  .text_shadow {
    width: calc(100vw - 12rem);
  }

  .soln_form button {
    margin: 3rem 0;
  }
}

@media screen and (max-width: 700px) {
  .soln_wrapper {
    padding: 5rem 3rem 10rem 3rem;
  }

  .text_input,
  .text_shadow {
    width: calc(100vw - 8rem);
    padding: 0.2rem 1rem;
    font-size: 1rem;
  }

  .soln_form button {
    scale: 0.9;
    margin-top: 1.4rem;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 1.5rem;
    width: max-content;
  }

  .text_input,
  .text_shadow {
    padding: 0.4rem 0.8rem;
    height: 2rem;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 1.4rem;
    margin-left: -5px;
  }
}

@media screen and (max-width: 380px) {
  .soln_wrapper {
    padding: 4rem 2rem 10rem 2rem;
    gap: 2rem;
  }

  .title {
    font-size: 1.3rem;
    margin-left: -3px;
  }

  .soln_form {
    gap: 1.5rem;
  }

  .text_input,
  .text_shadow {
    transform: scaleY(0.9);
    width: calc(100vw - 6rem);
  }

  .soln_form button {
    margin: 2rem 0 1rem 0;
  }
}
